html {
    background: url(fundo.png) bottom center;
    background-size: 100vw 100vh;
    margin: 0;
    padding: 0;
}

.keys {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 7vw;
}

.key {
    background: linear-gradient(to bottom right, #1e1e1e, #3f3f3f);
    border: 0.2vw solid #333;
    border-radius: 1vw;
    box-shadow: 0 0.5vw 1vw #1e1e1e;
    padding: 2vh 1vw;
    width: 10vw;
    color: azure;
    text-align: center; 
    transition: transform 0.1s ease, box-shadow 0.1s ease, border-color 0.1s ease;
    cursor: pointer;
}

.key:hover {
    transform: scale(1.15);
    border-color: #ffc600;
    box-shadow: 0 0 1.5vw #ffc600;
}

.playing {
    transform: scale(1.15);
    border-color: #ed6f08;
    box-shadow: 0 0 1.5vw #eb7312;
}
kbd {
    display: block;
    font-size: 3.5vw;
    font-weight: bold;
    color: #fff;

}
.sound {
    font-size: 1.5vw;
    text-transform: uppercase;
    letter-spacing: 0.15vw;
    color: #ed6f08;
    margin-top: 1vh;
}